<h3>Welcome here are your recipes: </h3>

<%= link_to "New Recipe", new_culinary_artist_recipe_path(@culinary_artist), class: "btn btn-primary" %>

<p>Recipes: </p>
  <% @culinary_artist.recipes.each do |recipe| %>
    <div><%= recipe.title %></div>

<% end %>

<p>Ingredients: </p>

  <% @culinary_artist.ingredients.each do |x| %>
    <div><%= x.name %></div>

<% end %>

	<%= link_to "Ingredients", ingredients_path %> |
	<%= link_to "Recipes", culinary_artist_recipes_path(@culinary_artist) %> |
	<%= link_to "New Recipe", new_culinary_artist_recipe_path(@culinary_artist) %> |
	<%= link_to "Log Out", logout_path %>
