<h2>Keep being creative </h2>
<br>
<h3>Here's what you've been working on so far: </h3>
<br>
  <% @culinary_artist.recipes.each do |recipe| %>
    <div><%= recipe.title %></div>

<% end %>
<br>
<ul class="navbar-nav">
	<%= link_to "Ingredients", ingredients_path %> |
	<%= link_to "Recipes", culinary_artist_path(@culinary_artist) %> |
	<%= link_to "New Recipe", new_culinary_artist_recipe_path(@culinary_artist) %> |
	<%= link_to "Log Out", logout_path %> |
  <%= link_to "Index", recipes_path(@culinary_artist), class: "all_recipes" %> |
  <button id="sort">SortMeOut</button>
  <button id="filter">FilterAuden'sRecipe</button>
<br>
</ul>
